{% load static %}

<!--  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <title>{% block title %} {% endblock %} - {{ company_name }}</title>
  </head>
  <body>
    {% include "components/navbar.html" %}

    <!--  -->

    {% block body %} {% endblock %}

    <!--  -->

    {% include "components/footer.html" %}

    <!--  -->

    <div class="fixed bottom-0 p-3 z-[1] right-0">
      {% include "notifications.html" %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const alerts = document.querySelectorAll(".alert");
        alerts.forEach((alert) => {
          setTimeout(() => {
            alert.remove();
          }, 2500);
        });
      });
    </script>
  </body>
</html>
