{% extends "base.html" %}

<!--  -->

{% block title %} Profile {% endblock %}

<!--  -->

{% block body %}
<div class="px-2">
  <div class="flex flex-col justify-center items-center gap-4 py-12">
    <div class="card w-120 bg-base-200 shadow-sm border">
      <div class="card-body">
        <div class="flex justify-between">
          <h2 class="text-3xl font-bold">Tenant Info</h2>
        </div>
        <ul class="mt-6 flex flex-col gap-2">
          {% if tenant_info %}
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span><strong>ID:</strong> {{ tenant_info.tenant_id }}</span>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span><strong>Username:</strong> {{ tenant_info.username }}</span>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span><strong>Email:</strong> {{ tenant_info.email }}</span>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span
              ><strong>First Name:</strong> {{ tenant_info.first_name }}</span
            >
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span><strong>Last Name:</strong> {{ tenant_info.last_name }}</span>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span><strong>Phone:</strong> {{ tenant_info.phone }}</span>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="divider w-120 mx-auto my-2"></div>

    <div class="card w-120 bg-base-200 shadow-sm border">
      <div class="card-body">
        <div class="flex justify-between">
          <h2 class="text-3xl font-bold">Lease Info</h2>
        </div>
        <ul class="mt-6 flex flex-col gap-2">
          {% if lease_info %}
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span><strong>ID:</strong> {{ lease_info.lease_id }}</span>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span><strong>Lease Start Date:</strong> {{ lease_info.lease_start_date }}</span>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span><strong>Lease End Date:</strong> {{ lease_info.lease_end_date }}</span>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span><strong>Rent Amount:</strong> {{ lease_info.rent_amount }} {{ default_currency }}</span>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span><strong>Lease Property Address:</strong> {{ lease_info.address }}</span>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span><strong>Lease Property Type:</strong> {{ lease_info.property_type }}</span>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 me-2 inline-block text-success"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
            <span><strong>Lease Property Size:</strong> {{ lease_info.size }}</span>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!--  -->
